<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--status：设置log4j2自身的日志输出级别，低于warn的不输出;monitorInterval：每个多久重新加载配置文件-->
<Configuration status="warn" monitorInterval="3600">

    <Properties>
        <!--自定义一些常量，之后使用${变量名}引用-->
        <Property name="LOG_PATH">${sys:user.home}/robot/logs</Property>
    </Properties>

    <Appenders>
        <!--输出到控制台的配置-->
        <Console name="ZqqConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%15t] %logger{36} : %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=cyan,TRACE=blue}"/>
        </Console>

        <!--输出到循环文件（到一定大小后自动写到一个新的文件，方便归档）-->
        <RollingFile name="ZqqRollingFile" fileName="${LOG_PATH}/init.log" filePattern="${LOG_PATH}/robot-%d{yyyy-MM-dd_HH-mm}-%i.out">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%15t] %logger{36} : %msg%n"/>
            <!--日志滚动策略：-->
            <Policies>
                <!--表示日志文件按照设置的时间点来进行滚动（277M后写入新日志文件）,也可选按时间滚动（TimeBasedTriggeringPolicy）-->
                <SizeBasedTriggeringPolicy size="277 mb"/>
            </Policies>
            <!--保存的日志文件最大数量-->
            <DefaultRolloverStrategy max="5"/>
            <Filters>
                <!--过滤器，当该日志等级>=level等级时，执行onMatch策略，否则执行onMismatch策略 -->
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <!--记录小呆每日推荐食堂，统计概率-->
        <!-- 如果filePattern中仅含有整数计数器（即%i），每次rollover时，文件重命名时的计数器将每次加1（初始值为1），若达到max的值，将删除旧的文件-->
        <RollingFile name="DaiRollingFile" fileName="${LOG_PATH}/recommend.log" filePattern="${LOG_PATH}/recommend-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm}:%msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="277 mb"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!--将ZqqRollingFile"升级"为异步Appender，includeLocation表示是否输出位置（比如ZqqController.java:23），开启会影响性能-->
        <Async name="ZqqAsync" includeLocation="false">
            <AppenderRef ref="ZqqRollingFile"/>
        </Async>
    </Appenders>

    <!--定义Logger，只有定义Logger并为其引入Appender，Appender才会生效-->
    <Loggers>
        <!--单独指定日志的形式，name用来指定该Logger适用的类或所在包的全路径-->
        <Logger name="org.springframework" level="INFO"/>

        <!--小呆专用-->
        <Logger name="com.tmall.marketing.dingdingrobot.dai.EatingSchedule" level="all" additivity="false">
            <appender-ref ref="DaiRollingFile"/>
        </Logger>

        <!--项目的根日志，如果没有单独指定Logger，则使用root-->
        <root level="INFO">
            <appender-ref ref="ZqqConsole"/>
            <appender-ref ref="ZqqAsync"/>
        </root>
    </Loggers>


</Configuration>